.recipe-container {
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
  padding: 1em 2em;
}

.recipe-name-title {
  text-align: center;
  font-size: 1.5em;
  margin: 1em;
}

.image-box,
.button-box {
  text-align: center;
}

.recipe-about-image {
  width: 200px;
  border-radius: 10px;
  margin: 0 auto;
}

.recipe-para {
  color: #6f6f6f;
}
