.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 50px;
  background-color: #f3f6ff;
  padding: 2em;
  gap: 2em;
}

.intro-description {
  text-align: center;
}

.intro-description-para {
  color: #6f6f6f;
  font-size: large;
}

.intro-image {
  width: 50%;
}

.add-button:hover,
.add-button:focus {
  opacity: 0.8;
  cursor: pointer;
}

@media (min-width: 675px) {
  .intro {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .intro-description {
    text-align: left;
    margin-bottom: 1.5em;
  }

  img {
    width: 50%;
  }
}
